:root {
    --font-size: 16px;
    --spacing: 10px;
    --left-margin: 2rem;
}

body {
    font-family:'Times New Roman', Times, serif;
    width: 9in;
    height: 11in;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 3rem;
}

a {
    all: unset;
}

/* change bullets */
li::marker {
    font-size: 0.7rem;
}

/* personal info */

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.summary {
    margin: .35rem 0 .35rem 0 ;
    padding: 0;
}

.header .personal-info {
    margin-right: 2rem;
    margin-bottom: .5rem;
}

.header .job-title {
    font-style: italic;
    font-weight: normal;
    color: rgb(31, 31, 31);
    padding: 0;
    margin: 0;
}


.header .name {
    font-weight: bold;
    margin: 0;
    padding: 0;
}

/* contact section */
.contact {
    width: 100%;
    font-size: 1.05rem;
}

.contact ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.contact li {
    padding-top : 0.4rem;
    white-space: nowrap;
}

/* section */

.section-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: .4rem;
    border-bottom: 1.5px solid black;
    margin-top: 0;
}

.muted {
    color: rgb(56, 55, 55);

    font-weight: normal;
}

.section {
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
    margin-bottom: 0.2rem;
}


/* subsection */

.subsection {
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 1rem;
    margin-bottom: .8rem;
}

.subsection .title {
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 0;
}

.subsection .subtitle {
    font-style: italic;
    margin-top: 0;
}

.description-list {
    margin: 0;
    padding: 0;
    list-style-position: inside;
    grid-column: span 2;
}

.lhs {
 grid-column: 1;
}

.rhs {
    grid-column: 2;
}

.rhs .location {
    font-style: italic;
} 